@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a web application aimed to give you the best of the best when it comes to restaurants.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Restaurant Rater is the go-to site to find your next dining experience.  Click below to find out more!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more restaurants</h2>
        <p>By adding ratings to restaurants that you have been to, you can help us become even more able to handle any kind of dining needs!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Add Rating &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Host restaurant</h2>
        <p>You can easily your own restaurant to our database through our application system!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Submit Restaurant &raquo;</a></p>
    </div>
</div>